<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>207</TotalTime><Application>LibreOffice/6.0.5.2$MacOSX_X86_64 LibreOffice_project/54c8cbb85f300ac59db32fe8a675ff7683cd5a16</Application><Pages>3</Pages><Words>1621</Words><Characters>9761</Characters><CharactersWithSpaces>11349</CharactersWithSpaces><Paragraphs>43</Paragraphs><Company>ICCS-BAS</Company></Properties>